@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }

}

@{
    ViewBag.title = "ĐiCùng.net";
    ViewBag.des = "";
    ViewBag.keywords = "";
    ViewBag.url = url;
    ViewBag.image = "";
}

<link href="~/Content/parallax/clockpicker/css/materialize.clockpicker.css" rel="stylesheet" />

<div class="section">
    <div class="row">
        <div class="col m4 s12">

             <div class="row">
                 <form class="col s12 cyan lighten-5" method="post" id="form-booking" name="form-booking">
                     @*<h2>Đi làm chung</h2>*@
                     @Html.AntiForgeryToken()

                     <input type="hidden" name="booking_long_from" id="booking_long_from" />
                     <input type="hidden" name="booking_lat_from" id="booking_lat_from" />
                     <input type="hidden" name="booking_long_to" id="booking_long_to" />
                     <input type="hidden" name="booking_lat_to" id="booking_lat_to" />
                     <input id="booking_km1" name="booking_km1" type="hidden" readonly>
                     <div class="row">

                         <div class="input-field col s12 m12">
                             <input id="booking_from_location" placeholder="Nhập vị trí điểm đón" type="text" class="validate">
                             <label for="booking_from_location">Điểm đón</label>
                         </div>
                     </div>

                     <div class="row">
                         <div class="input-field col s12 m12">
                             <input id="booking_to_location" placeholder="Nhập vị trí điểm trả" name="booking_to_location" type="text" class="validate">
                             <label for="booking_to_location">Điểm trả</label>
                         </div>
                     </div>

                     @*<div class="row">
                <div class="input-field col s12 m12">
                    <select name="booking_type_vehicle" id="booking_type_vehicle" onchange="CreateLine();">
                        <option value="" disabled selected>Chọn phương tiện</option>
                        <option value="DRIVING">Ô tô</option>
                        <option value="TRANSIT">Xe bus</option>
                    </select>
                </div>
            </div>*@

                     @*<div class="row">
                <div class="input-field col s12">
                    <select name="booking_type" id="booking_type">
                        <option value="" disabled selected>Chọn Hình thức</option>
                        <option value="hocchung">Đi học chung</option>
                        <option value="lamchung">Đi làm chung</option>
                    </select>
                </div>
            </div>*@

                     <div class="row">
                         <div class="input-field col s12 m6">
                             <input id="booking_time_go" name="booking_time_go" type="time" class="timepicker">
                             <label for="booking_time_go">Giờ đón</label>
                         </div>
                         <div class="input-field col s12 m6">
                             <input id="booking_time_to" name="booking_time_to" type="time" class="timepicker">
                             <label for="booking_time_to">Giờ về</label>
                         </div>
                     </div>

                     <div class="row">
                         <div class="input-field col s12 m6">
                             <input id="booking_name" name="booking_name" type="text" class="validate">
                             <label for="booking_name">Họ tên của bạn</label>
                         </div>
                         <div class="input-field col s12 m6">
                             <input id="booking_email" name="booking_email" type="email" class="validate">
                             <label for="booking_email">Email</label>
                         </div>

                     </div>

                     <div class="row">
                         <div class="input-field col s12 m6">
                             <input id="booking_phone" name="booking_phone" type="text" class="validate">
                             <label for="booking_phone">Số điện thoại</label>
                         </div>
                         <div class="input-field col s12 m6">
                             <input id="booking_password" name="booking_password" type="password" class="validate">
                             <label for="booking_password">Mật khẩu</label>
                         </div>
                     </div>


                     <div class="row center">
                         <div class="input-field col s12">
                             <button id="btnreg" type="submit" class="waves-effect waves-light btn"><i class="fa fa-registered"></i> Đăng ký đi cùng</button>
                         </div>
                     </div>


                 </form>
                </div>

        </div>

        <div class="col m8 s12">
            <div class="icon-block">
                @*<h2 class="center brown-text"><i class="material-icons">group</i></h2>*@
                <h5 class="center" id="title_page">Thông tin quãng đường</h5>
                <div class="row">
                    <div id="map-canvas" class="col s12" style="height: 500px;">                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {


<script src="~/Scripts/jquery.geocomplete.min.js"></script>
<script src="~/Content/parallax/clockpicker/js/materialize.clockpicker.js"></script>
    <script>

        $(document).ready(function () {
            //code

            //var options = {
            //    map: "#map-canvas",
            //    mapOptions: {
            //        zoom: 10
            //    },
            //    markerOptions: {
            //        draggable: true
            //    },

            //};

            var defaults = {
                bounds: true,
                country: null,
                map: "#map-canvas",
                details: false,
                detailsAttribute: "name",
                detailsScope: null,
                autoselect: true,
                location: false,

                mapOptions: {
                    zoom: 14,
                    scrollwheel: false,
                    mapTypeId: "roadmap"
                },

                markerOptions: {
                    draggable: false
                },

                maxZoom: 16,
                types: [],
                blur: false,
                geocodeAfterResult: false,
                restoreValueAfterBlur: false
            };

            $("#booking_from_location").geocomplete(defaults)
              .bind("geocode:result", function (event, result) {
                  $("#booking_long_from").val(result.geometry.location.lng());
                  $("#booking_lat_from").val(result.geometry.location.lat());
                  CreateLine();
                  //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
              })
              .bind("geocode:error", function (event, status) {
                  $.log("ERROR: " + status);
              })
              .bind("geocode:multiple", function (event, results) {
                  $.log("Multiple: " + results.length + " results found");
              });


            $("#booking_to_location").geocomplete(defaults)
              .bind("geocode:result", function (event, result) {
                  $("#booking_long_to").val(result.geometry.location.lng());
                  $("#booking_lat_to").val(result.geometry.location.lat());
                  CreateLine();
              })
              .bind("geocode:error", function (event, status) {
                  $.log("ERROR: " + status);
              })
              .bind("geocode:multiple", function (event, results) {
                  $.log("Multiple: " + results.length + " results found");
              });

            $('input,textarea').focus(function () {
                $(this).data('placeholder', $(this).attr('placeholder'))
                       .attr('placeholder', '');
            }).blur(function () {
                $(this).attr('placeholder', $(this).data('placeholder'));
            });
            
            var optionpickatime = {
                
            };
            $('#booking_time_go').pickatime({
                autoclose: true,
                twelvehour: false,
                donetext: 'Chọn giờ đón',
                default: '06:00:00'
            });
            $('#booking_time_to').pickatime({
                autoclose: true,
                twelvehour: false,
                donetext: 'Chọn giờ về',
                default: '17:00:00'
            });

            //$('#booking_email').on('blur',function () {
            //    if ($('#booking_email').val() !== "") {
            //        checkemail($('#booking_email').val()) ? adderror('booking_email', 'Email đã tồn tại!') : removeerror('booking_email');
            //    }                
            //})

            //$('#booking_phone').on('blur', function () {
            //    if ($('#booking_phone').val() !== "") {
            //        checkphone($('#booking_phone').val()) ? adderror('booking_phone', 'Số điện thoại đã tồn tại!') : removeerror('booking_phone');
            //    }
            //})
            
            $('#form-booking').submit(function (e) {
                e.preventDefault();                
                //var formdata = new FormData(); //FormData object
                //console.log(timediff(document.getElementById("booking_time_go").value, document.getElementById("booking_time_to").value));

                if (document.getElementById("booking_long_from").value == "" || document.getElementById("booking_lat_from").value == "" || document.getElementById("booking_from_location").value == "") {
                    var msg = "Vui lòng nhập vị trí đi!";
                    Materialize.toast(msg, 4000);
                    adderror('booking_from_location', msg);
                    document.getElementById("booking_from_location").focus();
                    return false;
                } 

                if (document.getElementById("booking_long_to").value == "" || document.getElementById("booking_lat_to").value == "" || document.getElementById("booking_to_location").value == "") {
                    var msg = "Vui lòng nhập vị trí đến!";
                    Materialize.toast(msg, 4000);
                    adderror('booking_to_location', msg);
                    document.getElementById("booking_to_location").focus();
                    return false;
                }

                //if ($("#booking_type_vehicle").val() === "") {
                //    Materialize.toast('Vui lòng chọn phương tiện đi!', 4000)
                //    document.getElementById("booking_type_vehicle").focus();
                //    return false;
                //}

                //if ($("#booking_type").val() === "") {
                //    Materialize.toast('Vui lòng chọn hình thức đi!', 4000)
                //    document.getElementById("booking_type").focus();
                //    return false;
                //}

                if (document.getElementById("booking_time_go").value === "") {
                    var msg = 'Vui lòng nhập giờ đón!';
                    Materialize.toast(msg, 4000);
                    adderror('booking_time_go', msg);
                    document.getElementById("booking_time_go").focus();
                    return false;
                }

                if (document.getElementById("booking_time_to").value === "") {
                    var msg = 'Vui lòng nhập giờ về!';
                    Materialize.toast(msg, 4000);
                    adderror('booking_time_to', msg);
                    document.getElementById("booking_time_to").focus();
                    return false;
                }

                // check giờ về - giờ đi >= 1
                if (timediff(document.getElementById("booking_time_go").value, document.getElementById("booking_time_to").value) < 1) {
                    var msg = 'Giờ về phải lớn hơn giờ đi ít nhất 1 giờ!';
                    Materialize.toast(msg, 4000);
                    adderror('booking_time_to', msg);
                    document.getElementById("booking_time_to").focus();
                    return false;
                }

                if (document.getElementById("booking_name").value === "") {
                    var msg = 'Vui lòng nhập họ tên!';
                    Materialize.toast(msg, 4000);
                    adderror('booking_name', msg);
                    document.getElementById("booking_name").focus();
                    return false;
                }

                if (document.getElementById("booking_email").value === "") {
                    var msg = 'Vui lòng nhập email!';
                    Materialize.toast(msg, 4000);
                    adderror('booking_email', msg);
                    document.getElementById("booking_email").focus();
                    return false;
                }

                if (document.getElementById("booking_phone").value === "") {
                    var msg = 'Vui lòng nhập số điện thoại!';
                    Materialize.toast(msg, 4000);
                    adderror('booking_phone', msg);
                    document.getElementById("booking_phone").focus();
                    return false;
                }

                //if (checkemail(document.getElementById("booking_email").value)) {
                //    var msg = 'Email đã tồn tại!';
                //    Materialize.toast(msg, 4000);
                //    adderror('booking_email', msg);
                //    document.getElementById("booking_email").focus();
                //    return false;
                //}

                //if (checkphone(document.getElementById("booking_phone").value)) {
                //    var msg = 'Số điện thoại đã tồn tại!';
                //    Materialize.toast(msg, 4000);
                //    adderror('booking_phone', msg);
                //    document.getElementById("booking_phone").focus();
                //    return false;
                //}

                if (document.getElementById("booking_password").value === "") {
                    var msg = 'Vui lòng nhập mật khẩu!';
                    Materialize.toast(msg, 4000);
                    adderror('booking_password', msg);
                    document.getElementById("booking_password").focus();
                    return false;
                }

                var $formdata = {
                    full_name: document.getElementById("booking_name").value,
                    phone: document.getElementById("booking_phone").value,
                    email: document.getElementById("booking_email").value,
                    pass: document.getElementById("booking_password").value,
                    time_go: document.getElementById("booking_time_go").value,
                    time_to: document.getElementById("booking_time_to").value,
                    from_location: document.getElementById("booking_from_location").value,
                    to_location: document.getElementById("booking_to_location").value,
                    long_from: document.getElementById("booking_long_from").value,
                    lat_from: document.getElementById("booking_lat_from").value,
                    long_to: document.getElementById("booking_long_to").value,
                    lat_to: document.getElementById("booking_lat_to").value,
                    km1: document.getElementById("booking_km1").value,
                    type: 'lamchung',
                    type_vehicle: 'DRIVING'
                };

                //console.log($formdata);

                $.ajax({
                    type: "POST",
                    url: '/Home/booking',
                    data: $formdata, // serializes the form's elements.
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            if (data.success == "1") {
                                var msg = 'Cám ơn bạn đã đặt xe đi cùng, Chúng tôi sẽ gửi kết quả chuyến đi sau khi góp nhóm thành công qua email.';
                                alert(msg);
                                document.getElementById("form-booking").reset();
                            }
                            if (data.success == "0") {
                                
                                $.each(data.msg, function (i, item) {
                                    console.log(item);
                                    $('label[for="' + item.field + '"]').attr('data-error', item.error);
                                    $('#' + item.field).removeClass("valid");
                                    $('#' + item.field).addClass("invalid");
                                })
                                
                            }                            
                            
                        }
                    },
                    beforeSend: function () {
                        $('#btnreg').html('<i class="fa fa-registered"></i> Đang đăng ký thông tin xin chờ....');
                        document.getElementById('btnreg').disabled = true;

                    },
                    complete: function () {
                        $('#btnreg').html('<i class="fa fa-registered"></i> Đăng ký đi cùng');
                        document.getElementById('btnreg').disabled = false;
                    },
                    error: function (error) {
                        alert('Vui lòng kiểm tra lại kết nối internet, error: ' + error, 5000);
                    }
                });
                                

            })


        })

        

        function CreateLine() {
            if (document.getElementById('booking_from_location').value === "") {
                Materialize.toast('Vui lòng nhập vị trí đi!', 4000)
                document.getElementById('booking_from_location').focus();
                return false;
            }
            if (document.getElementById('booking_to_location').value === "") {
                Materialize.toast('Vui lòng nhập vị trí tới!', 4000)
                document.getElementById('booking_to_location').focus();
                return false;
            }            
            
            var latlng = new google.maps.LatLng(document.getElementById('booking_lat_from').value, document.getElementById('booking_long_from').value);
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;
            var map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: 14,
                center: latlng,
                draggable: true,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                animation: google.maps.Animation.DROP,
            });
            directionsDisplay.setMap(map);
            calculateAndDisplayRoute(directionsService, directionsDisplay);

        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            
            var selectedMode = "DRIVING";
            //if ($("#booking_type_vehicle").val() !== "") {
            //    selectedMode = $("#booking_type_vehicle").val();
            //}
            var latlng1 = new google.maps.LatLng(document.getElementById('booking_lat_from').value, document.getElementById('booking_long_from').value);
            var latlng2 = new google.maps.LatLng(document.getElementById('booking_lat_to').value, document.getElementById('booking_long_to').value);
            directionsService.route({
                origin: latlng1,  // Diem di.
                destination: latlng2,  // Diem den
                // Note that Javascript allows us to access the constant
                // using square brackets and a string value as its
                // "property."
                travelMode: google.maps.TravelMode[selectedMode]
            }, function (response, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(response);
                    //var khoangcach = response.routes[0].legs[0].distance.text;
                    var khoangcach = response.routes[0].legs[0].distance.text.replace(/km/g, "").replace(/m/g, "").replace(",", ".");
                    document.getElementById('booking_km1').value = khoangcach;
                    $('#title_page').empty().html('Thông tin quãng đường, khoảng cách khoảng: ' + khoangcach + ' km.');
                } else {
                    document.getElementById('booking_km1').value = 0;
                }
            });
        }

        
        

    </script>


}